.jgclogo{
    font-weight: 500;
    margin-left: 2rem;
}
.navbarbg{
    color:white;
    width: 100%;
 
}
.logoutlink{
    margin-left: 3rem;
    margin-right: 1rem;
}
.navbar{
    background-color: #5EA061;
}