
{% extends "myapp/base.html" %}
{% load static %}
{% block content %}

{% include 'myapp/navbar.html' %}

<link href="{% static 'css/components.css' %}" rel="stylesheet">
<script src="{% static 'js/components.js'%}" defer></script>



<style>
.records-container{
    margin:2rem;
    position:relative;
    top:2rem;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* Adjust space between items */
    margin-top:2rem;
  }
  
  .flex-item {
    width: calc(50% - 1rem); /* Adjust for gap (1rem is half of 2rem) */
    border-bottom:1px solid #5EA061;
    padding:1rem;

  }

  #field_details{
    font-weight: bolder;

    font-size:1.1rem;
  }
  .container_option{
    display: flex;
    gap:1.4rem;
  }
</style>


<div class="records-container">
    <h4 style="color:#5EA061;font-weight:600;font-size:1.8rem;margin-bottom:2rem;">Pensioner List</h4>
    <div class="table-container card">
        <div class="card-body">
            <div class="table-responsive">
                <input id="myInput" type="text" placeholder="Search.." style="margin-bottom:1.2rem;">
                <table id="defaultdatatables" class="table table-bordered table-hover table-striped tables">
                    <thead class="table-success">
                        <tr>
                            <th>NAME</th>
                            <th>BANK</th>
                            <th>PTYPE</th>
                            <th>GROUPING</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for x in list_pen %}
                        <tr>
                            <td>{{ x.name}}</td>
                            <td>{{ x.bank }}</td>
                            <td>{{ x.ptype }}</td>
                            <td>{{ x.grouping }}</td>


                            <td class="align-middle">

                                <a class="material-symbols-outlined btn btn-success btn_ssp_view" data-ssp-id="{{ x.id }}"> wysiwyg </a>
                                <!-- <a style="color:white;" class="material-symbols-outlined btn btn-primary" data-bs-toggle="modal" data-bs-target="#print_page{{x.id}}"> print </a> -->
                             
                                <div class="dropdown d-inline-block dropend">
                                  <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Print
                                  </a>

                              

                                  <ul class="dropdown-menu border-1 mt-0 shadow-sm">
                                    <li><a class="dropdown-item btn_personal_checkup" data-ssp-id="{{ x.csv_id }}">For Personal Checkup</a></li>
                                    <li><a class="dropdown-item btn_family_checkup" data-ssp-id="{{ x.csv_id }}">For Family Checkup</a></li>
                                    {% comment %} <li><a class="dropdown-item"  href="{% url 'print_family_ticket_page' x.csv_id %}" target="_blank">View Family Ticket</a></li>
                                    <li><a class="dropdown-item"  href="{% url 'print_ssp_ticket_page' x.csv_id %}" target="_blank">View SSP Ticket</a></li> {% endcomment %}
                                  </ul>
                                </div>
                            </td>
                        </tr>
                
                

                        {% endfor %}




                      </tbody>
                      </table>




<!-- modal VIEW -->
<!-- modal VIEW -->
<div class="modal fade" id="view_ssp_modal" tabindex="-1" aria-labelledby="view_ssp_modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form action="" method="post">
      {% csrf_token %}
 
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" style="font-weight:700;">PENSIONER DETAILS</h1>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div class="container">
        

          <div class="flex-container">

            <div class="flex-item d-flex flex-wrap">
              <span id="field_details">NAME: &nbsp;</span><h6 id="view_name" class="mt-1"></h6>
            </div>

            <div class="flex-item d-flex">
              <span id="field_details">ID: &nbsp;</span><h6 id="view_csv_id" class="mt-1"></h6>
            </div>
            
            <div class="flex-item d-flex">
              <span id="field_details">BANK: &nbsp;</span><h6 id="view_bank" class="mt-1"></h6>
            </div>
          
            <div class="flex-item d-flex flex-wrap">
              <span id="field_details">ADDRESS1: &nbsp;</span><h6 id="view_add1" class="mt-1"></h6>
            </div>
          
            <div class="flex-item d-flex flex-wrap">
              <span id="field_details">ADDRESS2: &nbsp;</span><h6 id="view_add2" class="mt-1"></h6>
            </div>

            <div class="flex-item d-flex">
              <span id="field_details">BIRTH: &nbsp;</span><h6 id="view_birth" class="mt-1"></h6>
            </div>

            <div class="flex-item d-flex">
              <span id="field_details">PTYPE: &nbsp;</span><h6 id="view_ptype" class="mt-1"></h6>
            </div>

            <div class="flex-item d-flex">
              <span id="field_details">STATUS: &nbsp;</span><h6 id="view_status" class="mt-1"></h6>
            </div>


            <div class="flex-item d-flex">
              <span id="field_details">GROUPING: &nbsp;</span><h6 id="view_grouping" class="mt-1"></h6>
            </div>

            <div class="flex-item d-flex">
              <span id="field_details">CONMONTH: &nbsp;</span><h6 id="view_conmonth" class="mt-1"></h6>
            </div>


          </div>
          
        
        
      </div>
      

    

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     
      </div>
    </div>
  </form>
  </div>
</div>









  <!-- modal for FAMILY TYPE -->
   <!-- modal VIEW -->
   <div class="modal fade" id="family_type_modal" tabindex="-1" aria-labelledby="family_type_modal" aria-hidden="true">
    <div class="modal-dialog">
        <form id="familyForm" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Fill Out the Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div id="ssp_name_family" style="text-align:center;margin-bottom:1.2rem;font-weight:bold;"></div>
                    <div class="mb-3">
                        <label for="endorsed_to" class="form-label">Endorsed to</label>
                        <input type="text" class="form-control" id="endorsed_to" name="endorsed_to">
                    </div>
                    <div class="mb-3">
                        <label for="relationship" class="form-label">Relationship</label>
                        <input type="text" class="form-control" id="relationship" name="relationship">
                    </div>
                    <input type="hidden" id="name_family" name="name">
                    <input type="hidden" id="csv_id_family" name="csv_id">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="save_family">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>













 <!-- modal for SSP TYPE -->
   <!-- modal VIEW -->
   <div class="modal fade" id="ssp_type" tabindex="-1" aria-labelledby="ssp_type" aria-hidden="true">
    <div class="modal-dialog">
      <form action="" method="post" id="familyForm" >
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" style="font-weight:700;">SSP DETAILS</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">


    
            <div class="container">
          

              <div class="">
                <label for="name" style="margin-bottom:.4rem;margin-top:.4rem;">NAME</label>
                <input type="text" readonly class="form-control" id="name_ssp_type" name="name">
              </div>

              <div class="">
                <label for="csv_id" style="margin-bottom:.4rem;margin-top:.4rem;">ID</label>
                <input type="text" readonly class="form-control" id="csv_id_ssp_type" name="csv_id">
              </div>



            </div>
          </div>
          <div class="modal-footer">

          <button type="submit" class="btn btn-primary" name="save_ssp">Generate Ticket</button>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
</div>





            </div>
        </div>

        <div id="pagination-container">
            <div id="pagination">
                <div id="page-numbers"></div>
            </div>
        </div>


    </div>
</div>



<script src="{% static 'js/modals.js' %}"></script>


{%endblock content %}