
{% extends "myapp/base.html" %}
{% load static %}
{% block content %}

{% include 'myapp/navbar.html' %}

<link href="{% static 'css/components.css' %}" rel="stylesheet">
<script src="{% static 'js/components.js'%}" defer></script>

<style>
   
.records-container{
    margin:2rem;
    position:relative;
    top:2rem;
}


</style>



<div class="records-container">
    <h4 style="color:#5EA061;font-weight:600;font-size:1.8rem;margin-bottom:2rem;">TICKET LIST</h4>
    <div class="table-container card">
        <div class="card-body">
            <div class="table-responsive">
                <input id="myInput" type="text" placeholder="Search.." style="margin-bottom:1.2rem;float:right;">
                <table id="defaultdatatables" class="table table-bordered table-hover table-striped tables">
                    <thead class="table-success">
                        <tr>
                            <th>NAME</th>
                            <th>DATE ISSUED</th>
                            <th>VALID UNTIL</th>
                            <th>ENDORSED TO</th>
                            <th>RELATIONSHIP</th>
                            <th>CHECKUP STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr class="loading">
                            <td colspan="6">Loading tickets...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>











<!-- modal -->
<div class="modal fade" id="ticket_list_modal" tabindex="-1" aria-labelledby="ticket_list_modal" aria-hidden="true">
    <div class="modal-dialog">
        <form id="familyForm" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

       
                  <div id="display_name"></div>
              

                    <div>
                        <label for="done_ticket" class="form-label"></label>
                        <input type="hidden" class="form-control" id="done_ticket" name="done_ticket" value="Done_Checkup">
                    </div>

                    <!-- <input type="text" id="csv_id_tick" name="csv_id_tick" s"> -->

                
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" name="save_family" id="save_ticket_done">Done checkup</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>




<script src="{% static 'js/modals.js' %}"></script>
<script>

    $(document).ready(function() {
        fetchTickets();
    });

function fetchTickets() {
    $.ajax({
        url: "{% url 'fetch_tickets' %}", 
        type: "GET",
        dataType: "json",
        beforeSend: function() {
        
            $('#myTable').html('<tr class="loading"><td>Loading tickets...</td></tr>');
        },
        success: function(data) {
           
            $('#myTable').empty();

            $.each(data, function(index, ticket) {
                if(ticket.checkup_status == 'Done_Checkup'){
                    var x = "badge text-bg-success";
                }
                else{
                    var x = "badge text-bg-warning";
                }
                var row = $('<tr>');
                row.append('<td>' + ticket.name + '</td>');
                row.append('<td>' + ticket.date_issued + '</td>');
                row.append('<td>' + ticket.valid_until + '</td>');
                row.append('<td>' + ticket.endorsed_to + '</td>');
                row.append('<td>' + ticket.relationship + '</td>');
                row.append("<td style='width:8rem;margin-left:1rem;margin-top:.6rem;padding:.8rem 1rem;' class='" + x + "'>" + ticket.checkup_status + '</td>');
                row.append('<td><a class="material-symbols-outlined btn btn-success btn_ticket_list_done" data-ssp-id="'+ticket.csv_id+'" data-ssp-name="'+ticket.name+'"> wysiwyg </a></td>'); // Add action column logic if needed

                $('#myTable').append(row);
            });
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.error("Error fetching tickets:", textStatus, errorThrown);
            $('#myTable').html('<tr><td>Error fetching tickets.</td></tr>');
        }
    });
}
</script>



{% endblock %}